th {
  background-color: #f8bd83;
  height: 30px;
  border-right: 1px solid #fff;
  color: Black;
  font-size: 11px;
  font-family: Verdana;
  text-align: center;
}

td {
  border-right: 1px solid #fff;
}

.tdleftcontent {
  border-right: 1px solid #fff;
  text-align: left;
}

.tdcentercontent {
  border-right: 1px solid #fff;
  text-align: center;
}

.tdrightcontent {
  border-right: 1px solid #fff;
  text-align: right;
}

p {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: left;
}

.associaterow {
  font-family: Verdana;
  font-size: 11px; /*text-decoration: none;*/
  vertical-align: middle;
  text-align: right;
  background-color: #ffedd9;
  border-color: #f0ab96;
  border-style: solid;
  border-width: 1px;
}

.upcomingdrive {
  color: black;
}

.pastdrive {
  color: green;
}
